In [1]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("E:\PTDL\Credit_Scoring.csv")
df.head()
# Nêu thông tin về kiểu dữ liệu và khoảng dữ liệu ở các cột
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

(149992, 12)

In [3]:
df1 = df.dropna()

In [5]:
df1.shape

(120262, 12)

In [7]:
df_income = df1.filter(['MonthlyIncome', 'NumberOfDependents'])
df_income

        MonthlyIncome  NumberOfDependents
1             23684.0                 2.0
2              2500.0                 0.0
3              6501.0                 2.0
4             12454.0                 2.0
5             13700.0                 2.0
...               ...                 ...
149986         3400.0                 0.0
149987         2100.0                 0.0
149988         5584.0                 2.0
149990         5716.0                 0.0
149991         8158.0                 0.0

[120262 rows x 2 columns]

In [8]:
df_noDependents = df_income[df_income['NumberOfDependents'] == 0]
df_Dependents = df_income[df_income['NumberOfDependents'] != 0]

In [10]:
df_noDependents

        MonthlyIncome  NumberOfDependents
2              2500.0                 0.0
6                 0.0                 0.0
9              8800.0                 0.0
11              333.0                 0.0
12            12300.0                 0.0
...               ...                 ...
149985          820.0                 0.0
149986         3400.0                 0.0
149987         2100.0                 0.0
149990         5716.0                 0.0
149991         8158.0                 0.0

[65452 rows x 2 columns]

In [12]:
# Có phải những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)
stats.ttest_ind(df_noDependents['MonthlyIncome'], df_Dependents['MonthlyIncome'], equal_var=False)

Ttest_indResult(statistic=-20.159688563453514, pvalue=3.59295701688606e-90)

In [13]:
# --> pvalue << 0,1(10%) và Statistic <0 --> bác bỏ H0, chấp nhận H1 (những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc)

In [14]:
'''
Có phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%
'''

'\nCó phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%\n'

In [17]:
df_Serious = df.filter(['SeriousDlqin2yrs', 'NumberOfOpenCreditLinesAndLoans'])
df_Serious.head(15)

    SeriousDlqin2yrs  NumberOfOpenCreditLinesAndLoans
0                  0                                2
1                  0                                9
2                  0                                5
3                  0                                7
4                  0                               13
5                  1                                9
6                  0                                6
7                  0                                7
8                  0                               10
9                  0                                7
10                 0                                7
11                 0                                2
12                 0                               10
13                 1                                7
14                 0                                4

In [19]:
df_Serious_1 = df_Serious[df_Serious['SeriousDlqin2yrs'] == 1]
df_Serious_0 = df_Serious[df_Serious['SeriousDlqin2yrs'] == 0]

In [25]:
stats.ttest_ind(df_Serious_1['NumberOfOpenCreditLinesAndLoans'], df_Serious_0['NumberOfOpenCreditLinesAndLoans'], equal_var=False)

Ttest_indResult(statistic=-10.53484996850356, pvalue=7.875696017574721e-26)

In [21]:
# --> pvalue << 0,1(10%) và Statistic <0 --> bác bỏ H0, chấp nhận H1 (trung bình số lượng khoản vay những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây sẽ cao hơn những khách hàng không gặp khó khăn)